<!--<button mat-raised-button color="primary" (click)="newMail()" style="float: right;">New mail</button>-->

<ag-grid-angular
  class="ag-theme-alpine"
  [detailRowHeight]="200"
  style="width: 100%; height: 100%"

  [animateRows]="true"
  [masterDetail]="true"
  [rowDragManaged]="true"
  [suppressRowClickSelection]="true"

  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [getRowStyle]="getRowStyle"
  [rowSelection]="'multiple'"
  [defaultColDef]="defaultColDef"
  [detailCellRenderer]="mailContentComponent"
  [getContextMenuItems]="getContextMenuItems"
  [gridOptions]="gridOptions"
>
</ag-grid-angular>
