<!--<button mat-raised-button color="primary" (click)="newMail()" style="float: right;">New mail</button>-->
<button
    mat-raised-button
    color="warn"
    style="width:100%"
    *ngIf="showDeleteButton"
    (click)="getRowsSelected()"
  >
  delete
</button>

<ag-grid-angular
  [class]="class_grid"
  [detailRowHeight]="200"
  style="width: 100%; height: 100%"

  [animateRows]="true"
  [masterDetail]="true"
  [rowDragManaged]="true"
  [suppressRowClickSelection]="true"

  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [getRowStyle]="getRowStyle"
  [rowSelection]="'multiple'"
  [defaultColDef]="defaultColDef"
  [detailCellRenderer]="mailContentComponent"
  [getContextMenuItems]="getContextMenuItems"
  (gridReady)="onGridReady($event)"
  [gridOptions]="gridOptions"
  (click)="onRowSelect()"
>
</ag-grid-angular>
